body {
  margin: 0;
  padding: 0;
  background: #373737;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

div {
  display: block;
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-column-gap: 1rem;
  background-color: #f17144;
}

.marquee-content {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
}

.text-block {
  color: #000;
  font-size: 7vw;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.scroll {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}
